<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="TimeoutAction" value="30000" />
    <add key="TimeoutPageLoad" value="100000" />
    <add key="AzureDevopsToken" value="u3gn2zlzsj7irblysvu7gerdub7bvgwmzn7ue7cer2adjhs6kfxa" />
    <add key="AzureDevopsUrl" value="https://stenait.visualstudio.com/SLOOP" />
    <add key="AzureDevopsVersion" value="api-version=1.0" />
    <add key="AzureDevopsTestsIdMappingFile" value="testcaseIds_stenait.json" />
    <add key="LogsDirectoryPath" value="C:\AzureLogs" />
    <add key="WindowsApplicationDriverUrl" value="http://127.0.0.1:4723" />
    <add key="StartApp" value="false" />
    <add key="AppName" value="Untitled - Notepad" />
    <add key="BrowserType" value="Windows" />
    <add key="DriverPath" value="/c C:\Driver\WinAppDriver.exe" />
    <add key="AppUnderTestPath" value="C:\Windows\notepad.exe" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>